<footer>
  <div class="top-footer">
    <a class="social-icon">
      <img [src]="instagramIcon" alt="instagram">
    </a>
    <a class="social-icon">
      <img [src]="facebookIcon" alt="facebook">
    </a>
    <a class="social-icon" href="https://github.com/YaroslavYedyn/MovieBE">
      <img [src]="githubIcon" alt="github">
    </a>
    <a class="social-icon">
      <img [src]="linkedinIcon" alt="linkedin">
    </a>
    <a class="social-icon">
      <img [src]="twitterIcon" alt="twitter">
    </a>
    <a class="social-icon">
      <img [src]="whatsappIcon" alt="whatsapp">
    </a>
  </div>
  <div class="bottom-footer">
    <a>© 2021 *Один Фільм*</a>
    <a>Movie Full Stack project</a>
  </div>
</footer>
