<header>
  <div [classList]="['logo']">
    <div class="right-logo">
      <div class="text" routerLink="">1film</div>
    </div>
  </div>
  <ul class="nav">
    <li routerLink="">фільми</li>
    <li routerLink="login">премєри</li>
    <li>серіали</li>
    <li routerLink="cartoons">мультфільми</li>
  </ul>
  <div class="auth">
    <div class="account" *ngIf="this.authService.isAuthenticated()&&this.roleService.setRole('admin')"
         [routerLink]="['admin']">
      <img [src]="accountImg" alt="">
    </div>
    <div class="account" *ngIf="this.authService.isAuthenticated()&&this.roleService.setRole('user')"
         [routerLink]="['account']">
      <img [src]="accountImg" alt="">
    </div>
    <a (click)="this.authService.isAuthenticated()?logout():logIn()">
      {{this.authService.isAuthenticated() ? 'Вихід' : 'Вхід'}}</a>
  </div>
</header>
