main {
  margin: 0 auto;
  width: 90%;
  border-right: 1px solid #172935;
  border-left: 1px solid #172935;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list_wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 28px;
  font-weight: 300;
  margin: 5px;
}

.filter {
  width: 100%;
  height: 80px;
  background: #15384c;
  display: flex;
  justify-content: center;
  align-items: center;
}
