<div *ngIf="movie">
  <div [ngStyle]="{'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('+headerBGUrl+')'}"
       class="details">
    <div class="top">
      <div class="top-info">
        <p class="title">Фільм {{movie.title}}</p>
        <p class="title">дивитись онлайн</p>
        <p class="orig_title">{{movie.original_title}}</p>
        <div class="genres">
          <div class="genres-item" *ngFor="let genre of movie.genre">{{genre}}</div>
        </div>
        <p class="date">{{movie.release_date|date}}</p>
      </div>
      <video [poster]="baseUrl+movie.backdrop_path" width="100%" autocapitalize="words" height controls>
        <source [src]="baseUrl+movie.video" type="video/mp4">
      </video>
      <div class="bottom-info">
        <div class="bottom-left">
          <div class="btn-wishlist" (click)="addWishlist(movie._id)">
            <img [src]="isWishlist?heartBlack:heart" alt="heart-icon">
            Дивитись пізніше
          </div>
          <!--          <button class="btm-wishlist" (click)="addWishlist(movie._id)">{{isWishlist ? 'Видалити' : 'Додати'}}</button>-->
          <div class="average">
            <a>{{movie.vote_average}}</a>
            <p>рейтинг 1film</p>
          </div>
        </div>
        <div class="overview">
          <p>Сюжет Обережно, спойлери</p>
          <a>{{movie.overview}}</a>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="comment">
        <div class="row-comment" *ngFor="let comment of comments">
          <div class="comment-user" *ngFor="let user of comment.user">
            <div class="comment-avatar">
              <img *ngIf="user.avatar" [src]="baseUrl+user.avatar" alt="">
              <img *ngIf="!user.avatar" [src]="defaultAvatar" alt="">
            </div>
            <span class="user-info">
              <a>{{user.username}}</a>
             <a class="comment-date">{{comment.createdAt|date:'short'}}</a>
              </span>
          </div>
          <div class="comment-text">
            {{comment.comment}}
          </div>
          <div *ngIf="comment.user_id===user._id" (click)="removeComment(comment._id)" class="remove-comment">
            <img [src]="removeIcon" alt="remove">
          </div>
        </div>
      </div>
      <div class="add-comment">
        <form [formGroup]="commentForm" class="add-comment-form" (ngSubmit)="addComment()">
          <label class="textarea" for="comment">
          <textarea [formControl]="comment" maxlength="350" id="comment">
          </textarea>
          </label>
          <input class="comment-btn" type="submit" value="Коментувати">
        </form>
      </div>
    </div>
  </div>
</div>
