.auth_wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrapper {
  color: #061117;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 550px;
  background: white;
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_auth {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.input_auth {
  width: 300px;
  height: 30px;
  border-radius: 3px;
  margin: 20px 0;
}

.button_auth {
  height: 30px;
  width: 220px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
  background: #15384c;
  color: #fff;
  border: none;
}

.button_auth:disabled {
  opacity: 0.5;
}

.sub-title a {
  color: #f8104d;
}
