<div class="profile">
  <div>
    <div class="avatar">
      <img *ngIf="!!user.avatar" [src]="backdropImg" alt="backdrop">
      <img *ngIf="!user.avatar" [src]="backdrop" alt="backdrop">
    </div>
    <input type="file" (change)="handleFileInput($event.target.files)">
  </div>
  <div class="right">
    <div *ngIf="!editStatus" class="info">
      <p>Ім`я користувача: {{user.username}}</p>
      <p>Email: {{user.email}}</p>
      <p>Iм`я: {{user.name}}</p>
      <p>Стать: {{user.gender}}</p>
      <p>Вік: {{user.age}}</p>
      <button class="btn-edit" (click)="editStatus=!editStatus">Редагувати</button>
      <button class="btn-edit" (click)="changePasswordStatus=!changePasswordStatus">Змінити пароль</button>
    </div>
    <div class="edit" *ngIf="editStatus">
      <form [formGroup]="editForm" (ngSubmit)="edit()">
        <label for="username">
          Ім`я користувача
          <input [formControl]="username" id="username" type="text" [value]="user.username">
        </label>
        <label for="name">
          Ім`я
          <input [formControl]="name" id="name" type="text" [value]="user.name">
        </label>
        <label for="male">
          Стать
          <select [formControl]="gender" name="male" id="male">
            <option value="жінка">Жінка</option>
            <option value="чоловік">Чоловік</option>
          </select>
        </label>
        <label for="age">
          Вік
          <input [formControl]="age" id="age" type="number" [value]="user.age">
        </label>
        <div>
          <input class="btn-edit" type="submit" value="Змінити">
          <input class="btn-edit" type="button" value="Відмінити" (click)="editStatus=!editStatus">
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="changePasswordStatus" class="change-password">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <input class="change-input" [formControl]="oldPassword" placeholder="Введіть старий пароль" type="text">
      <input class="change-input" [formControl]="newPassword" placeholder="Введіть новий пароль" type="password">
      <input class="change-input" [formControl]="repeatPassword" placeholder="Введіть новий пароль ще раз"
             type="password">
      <div class="change-btn-wrapper">
        <input class="btn-edit"
               [disabled]="changePasswordForm.invalid||repeatPassword.invalid||newPassword.value!==repeatPassword.value"
               type="submit"
               value="Змінити">
        <button class="btn-edit" (click)="changePasswordStatus=!changePasswordStatus">Відмінити</button>
      </div>
    </form>
  </div>
</div>
