<div class="change">

  <div class="wrapper">
    <p class="title">Ввдіть новий пароль</p>
    <form [formGroup]="changePasswordForm" method="post" class="form" (ngSubmit)=changePassword()>
      <input [formControl]="password" class="password" type="password" placeholder="Please enter password">
      <input [formControl]="repeatPassword" class="password" type="password" placeholder="Repeat password">
      <input [disabled]="changePasswordForm.invalid&&password.value!==repeatPassword.value" class="change-btn" type="submit" value="Змінити">
    </form>
  </div>
</div>
